<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="CRMProject" verbose="1" >

<listeners>
	<listener class-name="Analyzer.MyTransformer"></listener>
</listeners>

<listeners>
	<listener class-name="com.crm.qa.testNGListener.ExtentReportNG"></listener>
</listeners>

  <test name="RetryTest" >
    <classes>
       <class name="com.crm.qa.testcases.HomePageTest" />
       <class name="com.crm.qa.testcases.LoginPageTest" />
    </classes>
  </test>
 
</suite>
